<div>
  <div class="col-xs-1">
    <img
      src = '../../assets/images/Variation-1.png'
      alt="triangle with all three sides equal"
      height="87px"
      width="100px" />
  </div>

  <div class="col-xs-11">
    <nav mat-tab-nav-bar  mat-align-tabs="center" class="mat-tab-label ">
      <a mat-tab-link class="mat-tab-link"
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [routerLinkActiveOptions]="{exact:true}"
         [active]="rla.isActive">
        {{ link.label }}
      </a>
    </nav>
  </div>
</div>



<router-outlet></router-outlet>


<!--<mat-tab-group mat-align-tabs="center">-->
<!--  <mat-tab label="Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink=""> <router-outlet></router-outlet> </mat-tab>-->
<!--  <mat-tab label="About"><app-about-us></app-about-us> </mat-tab>-->
<!--  <mat-tab label="Contact Us"> <app-contact-us></app-contact-us></mat-tab>-->
<!--</mat-tab-group>-->



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--      <ul class="nav nav-tabs">-->
<!--        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>-->
<!--        <li role="presentation"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="about-us">About Us</a></li>-->
<!--        <li role="presentation"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"routerLink="contact-us">Contact Us</a></li>-->
<!--      </ul>/-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
