.image{
  height:15em;
  background-size:cover;
  width:auto;
  background-image: url('../../assets/images/btfly2 (1).png');
  background-position:50% 50%;
}


.header{
  margin-left: 420px;
  margin-right: 0;
  text-align: left;
  color: white;
  font-size: 46px;
  max-width: 350px;
  padding-bottom: 0;
  margin-top: 40px;
  margin-bottom: 0px;
  font-weight: 100;
  line-height: 1.3;
}

.subheader{
  margin-left: 420px;
  margin-right: 0;
  text-align: left;
  width: 460px;
  display: block;
  color: white;
  margin-top: 1px;
  font-weight: 100;
  padding-bottom: 20px;
  line-height: 1.5;
  font-size: 30px;
}

.contact-text{
  margin-left: 250px;
  margin-top: 45px;
}
