<div class="image">
  <br>
  <h1 class="header">Get in touch.</h1>
  <h2 class="subheader">We'd love to hear from you.</h2>
</div>

<div>
  <div class="col-xs-6">
    <h2 class="contact-text">Interested? <br>
      Need more information?<br>
      Have suggestions?<br>
      We're all ears.</h2>
  </div>
  <div class="col-xs-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">E-mail us</h5>
        <p class="card-text" style="text-align:center">
          <a href="mailto:john@example.com">example@manchester.ac.uk</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">Give us a call</h5>
        <p class="card-text" style="text-align:center">
          <a href="mailto:john@example.com">483972484</a>
        </p>
      </div>
    </div>
  </div>
</div>


